<html>
  <body>
    <h3>Create new message</h3>
    <section class="message-form-section">
      <form method="POST" , action="/new">
        <div class="form-grouo">
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" />
        </div>

        <div class="form-group">
          <label for="text">Text: </label>
          <textarea name="text" id="text"> </textarea>
        </div>

        <button type="submit">SUBMIT</button>
      </form>
    </section>
  </body>
</html>
