<html>
  <body>
    <section class="messages-section">
      <% messages.map((message) => { %>
      <div class="message-container">
        <p><%= message.user %></p>
        <p><%= message.text %></p>
        <output><%= message.time %></output>
      </div>
      <% }) %>
    </section>
  </body>
</html>
