<html>
  <body>
    <section class="messages-section">
      <% if (messages) { %> <% messages.map((message) => { %>
      <div class="message-container">
        <p><%= message.user %></p>
        <p><%= message.text %></p>
        <output><%= message.time %></output>
        <button type="button">
          <a href="message/<%= message.id %>">Message details</a>
        </button>
      </div>
      <% }) %> <% } else { %>
      <p>There are no messages!</p>
      <% } %>
    </section>
  </body>
</html>
