<html>
  <body>
    <section class="message-detail-section">
      <% if (message) { %> <% message.map((message) => { %>
      <div class="message-container">
        <p><%= message.username %></p>
        <p><%= message.text %></p>
        <output><%= message.time %></output>
        <button type="button">
          <a href="/">Go Back to Homepage</a>
        </button>
      </div>
      <% }) } %>
    </section>
  </body>
</html>
